#a-toolbar-switcher {
    position: fixed;
    background: url(./images/advanced.png);
    width: 32px;
    height: 32px;
    left: 0;
    top: 8px;
    z-index: 1000;
    cursor: pointer;
}

#a-toolbar {
    position: fixed;
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 20px 5px 40px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}
    #a-toolbar > * {
        display: inline-block;
    }
    
    #a-toolbar .title {
        margin-top: 8px;
        margin-right: 20px;
    }
        #a-toolbar .title a {
            color: #FF8D31;
            line-height: 22px;
            font-weight: bold;
            font-size: 22px;
            text-decoration: none;
        }
        #a-toolbar .title a:hover {
            border-bottom: 1px solid #FFCFAA;
        }
    
    #a-toolbar .menu ul {
        margin: 0;
    }
        #a-toolbar .menu ul li {
            display: inline-block;
            border-left: 1px solid #A0A0A0;
            padding: 0 10px;
        }
            #a-toolbar .menu ul li a {
                color: #D7DAEA;
                text-decoration: none;
            }
                #a-toolbar .menu ul li a:hover {
                    border-bottom: 1px solid #CCC;
                }
        



