#images {
    margin: 0;
}
.image-item {
    list-style: none;
    padding: 10px;
    min-height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    position: relative;
    width: 175px;
    height: 175px;
    float: left;
    line-height: 175px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
    .image-item.active {
        box-shadow: 0 0 0 3px #12D5CF;
        -moz-box-shadow: 0 0 0 3px #12D5CF;
    }
    .image-item img {
        vertical-align: middle;
    }
    .image-item a.close {
        position: absolute;
        width: 12px;
        height: 12px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #FFFFFF;
        top: -10px;
        right: -10px;
        border: 1px solid #e3e3e3;
        z-index: 20;
        padding: 5px;
        opacity: 1;
        float: none;
        line-height: 15px;
    }

#drag-zone {
    padding: 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    display: inline-block !important;
    width: 500px;
    text-align: center;
    margin-left: 110px;
    vertical-align: top;
}
#drag-zone.drop-area-active {
    background: #D8FBEB;
}
.qq-upload-button { display: inline-block !important;}

.modal.big {
    width: 990px;
    margin-left: -495px;
}
    .modal.big .modal-body {
        max-height: 600px;
    }
.form-actions.bar-fixed {
    position: fixed;
    bottom: 0;
    right: 25px;
    padding-left: 20px;
}















